@model Automarket.Domain.ViewModels.UserViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<h2 class="text-2xl font-bold mb-4">Login</h2>

<form class="max-w-md mx-auto" asp-controller="Account" asp-action="Login" method="post">
    <div class="mb-4">
        <label for="Name" class="block text-sm font-medium text-gray-600">Username:</label>
        <input id="Name" name="Name" type="text" class="mt-1 p-2 border rounded-md w-full focus:outline-none focus:ring focus:border-blue-300" />
        <span class="text-red-500" asp-validation-for="Name"></span>
    </div>

    <div class="mb-4">
        <label for="Password" class="block text-sm font-medium text-gray-600">Password:</label>
        <input id="Password" name="Password" type="password" class="mt-1 p-2 border rounded-md w-full focus:outline-none focus:ring focus:border-blue-300" />
        <span class="text-red-500" asp-validation-for="Password"></span>
    </div>

    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Login</button>
</form>