@using Automarket.Domain.Enum
@model Automarket.Domain.ViewModels.CarViewModel


@{
    ViewBag.Title = "Create";
    Layout = "_Layout";
}


<div class="container mx-auto my-8">
    <h1 class="text-3xl font-bold mb-6">Add Car</h1>

    <form asp-controller="Car" asp-action="Create" asp-antiforgery="true" method="post" enctype = "multipart/form-data">
        @Html.ValidationSummary(true, "", new { @class = "text-red-600" })
        <div class="mb-4">
            <label asp-for="Name" class="block text-gray-600 font-semibold mb-2">Name</label>
            <input asp-for="Name" class="form-input w-full" type = "text"/>
            <span asp-validation-for="Name" class="text-red-600"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Description" class="block text-gray-600 font-semibold mb-2">Description</label>
            <textarea asp-for="Description" class="form-input w-full" rows="4"></textarea>
            <span asp-validation-for="Description" class="text-red-600"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Model" class="block text-gray-600 font-semibold mb-2">Model</label>
            <input asp-for="Model" class="form-input w-full" />
            <span asp-validation-for="Model" class="text-red-600"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Speed" class="block text-gray-600 font-semibold mb-2">Speed</label>
            <input asp-for="Speed" class="form-input w-full" />
            <span asp-validation-for="Speed" class="text-red-600"></span>
        </div>

        <div class="mb-4">
            <label asp-for="Price" class="block text-gray-600 font-semibold mb-2">Price</label>
            <input asp-for="Price" class="form-input w-full" />
            <span asp-validation-for="Price" class="text-red-600"></span>
        </div>

        <div class="mb-4">
            <label asp-for="TypeCar" class="block text-gray-600 font-semibold mb-2">Type</label>
            <select asp-for="TypeCar" asp-items="Html.GetEnumSelectList<TypeCar>()" class="form-input w-full"></select>
            <span asp-validation-for="TypeCar" class="text-red-600"></span>
        </div>

        <div class="mb-4">
            <label asp-for="ImageView" class="block text-gray-600 font-semibold mb-2">Car Image</label>
            <input asp-for="ImageView" type="file" class="form-input w-full" />
            <span asp-validation-for="ImageView" class="text-red-600"></span>
        </div> 

        <div class="flex justify-end">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Save</button>
        </div>
    </form>
</div>

@section Scripts {
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
}