@{
    ViewBag.Title = "Chat with Support";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/chatWindow.css">

<div id="chatContainer">
    <div id="chatroom">

    </div>

    <div id="inputForm" style="display: none;">
        <input type="text" id="message" placeholder="Type your message..." />
        <input type="button" id="sendBtn" value="Send" />
        <input type="button" id="exitBtn" value="Exit Chat" />
    </div>

    <div id="connectButton" class="text-center mt-4">
        <button id="connectBtn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Connect to Chat
        </button>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="~/js/chatUser.js"></script>
