#chatContainer {
    max-width: 600px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.chat-message {
    display: flex;
    margin-bottom: 15px;
    clear: both;
}

    .chat-message.sent {
        justify-content: flex-end;
    }

    .chat-message.received .message-content {
        background-color: #F2F2F2;
        color: #333;
        border-bottom-left-radius: 0;
    }

    .chat-message.sent .message-content {
        background-color: #DCF8C6;
        color: #333;
        border-bottom-right-radius: 0;
    }

.message-content {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
}

#inputForm {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

    #inputForm input[type="text"] {
        flex: 1;
        margin-right: 10px;
        padding: 8px;
        border-radius: 20px;
        border: 1px solid #ccc;
        outline: none;
    }

    #inputForm input[type="button"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 20px;
        border-radius: 20px;
        cursor: pointer;
        outline: none;
    }
